<div class="row mb-4">
    <span class="heading">See the chosen places in the map</span>
</div>
<div class="row">
  <div class="col-12" id="map">

  </div>
</div>
<div class="row mt-2">
    <div class="">
      <small class=""> <span class="highlight">Click on the <button type="button" name="button" class="btn btn-light btn-xs"><img src="assets/polygon.png" alt="">
      </button> button on the map and use your mouse to draw and select an area.</span>
      After drawing in the selected area, you can use the buttons <button type="button" name="button" class="btn btn-light btn-xs"><img src="assets/edit.png" alt="">
      </button> to edit and <button type="button" name="button" class="btn btn-light btn-xs"><img src="assets/remove.png" alt="">
      </button> to remove the selection.</small>
      <div class="row alert mx-4" >
          <div class="col-12 d-flex justify-content-center" >
              <i class="fa fa-info-circle fa-1x primaryColour" aria-hidden="true"></i>
              <span>If you are having trouble closing the shape you want to draw, click on the <img src="assets/finish.png" alt="">
               option that is displayed after clicking on the <button type="button" name="button" class="btn btn-light btn-xs"><img src="assets/polygon.png" alt="">
               </button> button. </span>
          </div>
      </div>
    </div>
</div>
<div class="row selSites mt-5">
  <span class="heading mb-2">Selected sites ({{ allSights ? allSights.length : '0'}})</span>
  <!--If no sights was selected-->
  <div *ngIf="allSights == 0">
    <span>No sight added. Go to all sights page and add a sight</span>
  </div>

  <div class="row selSites my-2" *ngFor="let sight of allSights">
    <div class="col-8">
      <span class="subheading">{{sight.title}} <span class="details">({{sight.votes}} {{sight.votes > 1 ? 'people' : 'person'}} voted)</span></span>
    </div>
    <div class="col-4 pull-right d-flex justify-content-end" *ngIf="isTheOwner">
      <button type="button" name="button" class="btn btn-outline-danger" (click)="removeSight(sight.id)">Remove</button>
    </div>
  </div>
</div>
